# Archivos compilados de Python
__pycache__/
*.py[cod]
# Archivos de log
*.log
# Configuraciones de editor de código
.vscode/
# Archivos de Node.js
node_modules/
# Entornos virtuales
venv/
env/
#variables de entorno
python-dotenv/

# Ignorar la carpeta media que contiene archivos subidos por los usuarios
media/

